#recipes
  .row
    .hero-unit.panel-blue
      .hero-content
        %h1 Small group meals
        %p
          Each of the selections below are tasty dishes for small groups.
        
  .row
    .span2.content
      %ul.nav.nav-list
        %li
          %h4 Type of dish
        %li{:class => @active_all ? 'active' : ''}
          %a{:href => "?type="}
            All dishes
        %li{:class => @active_main ? 'active' : ''}
          %a{:href => "?type=Main"}
            Main
        %li{:class => @active_sides ? 'active' : ''}
          %a{:href => "?type=Sides"}
            Sides
        %li{:class => @active_salads ? 'active' : ''}
          %a{:href => "?type=Salads"}
            Salads
        %li{:class => @active_soups ? 'active' : ''}
          %a{:href => "?type=Soups"}
            Soups
        %li{:class => @active_desserts ? 'active' : ''}
          %a{:href => "?type=Desserts"}
            Desserts
            
    .span10.content.grid
      - if @recipes.count == 0
        .alert.alert-info Sorry, no results match your criteria.
      - else
        - @recipes.each do |recipe|
          %a.span3.thumbnail.item{:href => recipe_path(recipe)}
            %img{:src => recipe.thumbnail}
            %h1=recipe.name
      .row
        .span12
          = paginate @recipes
