#homepage
  %img{:src => 'http://farm9.staticflickr.com/8209/8235286457_3a4bc1666b_h.jpg', :id => 'bg'}
  .row#title
    %h1 Dish Gracepoint
  .row
    %a.span12.panel.panel-green#large_group{:href => 'large'}
      %h1 Large Group
      %p Complete meals that will economically feed 200+ people.
  .row
    %a.span8.panel.panel-blue#small_group{:href => 'small'}
      %h1 Small Group
      %p Delicious main dishes, sides, desserts, and snacks.
    %a.span4.panel.panel-orange#cooking_tips{:href => 'tips'}
      %h1 Cooking Tips
      %p Practical tips & tutorials.

