.hero-unit
  %h1 Dish Gracepoint

.row-fluid
  %ul.thumbnails
    %li.span6
      %a.thumbnail{:href => 'small'}
        %img{:src => "http://placehold.it/700x200&text=Small%20Group"}
        %h3 Small Group
    %li.span6
      %a.thumbnail{:href => 'large'}
        %img{:src => "http://placehold.it/700x200&text=Large%20Group"}
        %h3 Large Group
