
.row-fluid
  %a{:href => 'large'}
    .span12#large_group
      %h1 Large Group
      %h2 Complete meals that will economically feed 200+ people.
  %a{:href => 'small'}
    .span8#small_group
      %h1 Small Group
      %h2 Delicious main dishes, sides, desserts, and snacks.
  %a{:href => '#'}
    .span4#cooking_tips
      %h1 Cooking Tips
      %h2 Practical tips & tutorials.
