#meals
  .row
    .span12#jumbotron
      %h1
        Large group meals
      %span#subheader
        Each of the selections below are complete meals that will feed a large group.
  .row
    .span2
      %div{"data-spy" => "affix", "data-offset-top" => "200"}
        %ul.nav.nav-list
          %li
            %h4 Budget
          %li{:class => @active_5 ? 'active' : ''}
            %a{:href => ""}
              $5 per person
          %li{:class => @active_2 ? 'active' : ''}
            %a{:href => "?cost=Under%20$2"}
              $2 per person
      
    .span10#meals_grid
      - if @meals.count == 0
        .alert.alert-info Sorry, no results match your criteria.
      - else
        - @meals.each do |meal|
          %a.span3.thumbnail.meal{:href => meal_path(meal)}
            %img{:src => meal.thumb}
            %h1=meal.name
        = paginate @meals