/* -----------------------------------*/
/* ---------->>> Colors <<<-----------*/
/* -----------------------------------*/

$modernWhite: rgb(240,240,240);
$modernGreen: rgb(130,230,0);
$modernOrange: rgb(244,163,51);
$modernBlue: rgb(0,153,255);
$modernBlack: rgb(22,22,22);

/* -----------------------------------*/
/* -------->>> Typography <<<---------*/
/* -----------------------------------*/

$menuFont: 'Segoe UI Light', 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;

/* -----------------------------------*/
/* ---------->>> Layout <<<-----------*/
/* -----------------------------------*/

#homepage {
	#bg {
		position:fixed; 
		top:0; 
		left:0; 
		
		/* Preserve aspet ratio */
		min-width:100%;
		min-height:100%;
		z-index: -1;
	}
	#spacer {
		display: block;
		height: 100px;
	}
	a {
		color: $modernWhite;
		&:hover {
			text-decoration: none;
		}
	}
	.panel {
		height: 200px;
		h1 {
			font: 42px $menuFont;
			margin: 24px;
		}
		h2 {
			font: 20px $menuFont;
			margin: 24px;
		}
	}
	
	#large_group {
		margin-bottom: 14px;
		background-color: $modernGreen;
	}

	#small_group {
		background-color: $modernBlue;
	}
		
	#cooking_tips {
		background-color: $modernOrange;
	}
}