/* -----------------------------------*/
/* ---------->>> Colors <<<-----------*/
/* -----------------------------------*/

$modernWhite: rgb(240,240,240);
$modernGreen: rgb(130,220,0);
$modernOrange: rgb(244,163,51);
$modernBlue: rgb(0,153,255);
$modernBlack: rgb(22,22,22);
$modernRed: rgb(195,55,0);

/* -----------------------------------*/
/* ---------->>> Layout <<<-----------*/
/* -----------------------------------*/

body {
	background-image: none;
}

#meals {
}