.thumbnails li.span3:nth-child(4n + 5) {
    margin-left : 0px;
}
.thumbnails.post {
    padding: 10px 30px 0px 30px;
}
.post-img {
    width:auto;
    height:190px; 
    display:block; 
    position:relative;
    overflow:hidden;
}
.post-img img {
    position:absolute;
    top:0;
    left:0; 
    width:100%;
}
.post-info {
    background-color: white;
    padding-top:  7px;
    padding-left: 7px;
}
.post-title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    height: 20px;

    font: bold 20px "Century Schoolbook", Georgia, Times, serif;
    color: #333;
    line-height: 90%;
    margin: .2em 0 .4em 0;
    letter-spacing: -1px;
}
.post-subtitle {
    font-size: 85%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #999;
    font-size: 12px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin-top: -5px;
    padding-bottom: 7px;
}
.post-paginate {
    padding-left: 30px;
}
.blog-body{
    background-color: #F1F1F1;
    border-radius: 5px;
    padding-bottom: 25px;
}
.blog-header{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid #555;
    padding-top: 20px;
    padding-bottom: 5px;
}
.blog-title{
    padding-bottom: 15px;
    padding-left: 20px;
    font: bold 40px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 90%;
    letter-spacing: -1px;
}
