#nav
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        = link_to "Dish Gracepoint", root_path, :class => 'brand'
        - if @q
          .navbar-search.pull-right
            = search_form_for @q do |f|
              = f.text_field @search_field, :class => 'input-large search-query span3', :placeholder => 'Search'
              .icon-search
  #navbar_spacer